<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBg85Ku-L-ypLdwo_415Xq_dOe0r-M3Abg</string>
	<key>GCM_SENDER_ID</key>
	<string>931520819939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.strangerMeet</string>
	<key>PROJECT_ID</key>
	<string>lets-meet-stranger</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-meet-stranger.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931520819939:ios:517464490df53d4e894bd6</string>
</dict>
</plist>